{% extends 'base.html' %} {% block content %}
<style>
  .HomePage {
    background-color: orange;
  }
</style>
<div class="HomePage">
  <h1>Hello World!</h1>
  <h1>Documents Managment Project (DMP) - Bootstrap Web Client</h1>
  <h1>Home Page 2</h1>
  <h3 style="center">Welcome Home</h3>
  <div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
      <div class="col md-5 p-3">
        {% if user.is_authenticated%}
        <p>Welcome, {{user.username}}</p>
        <a href="http://127.0.0.1:8000/accounts/logout/">Logout</a>
        {%else%}
        <p>Please <a href="http://127.0.0.1:8000/accounts/login/">Login</a></p>
        {%endif%}
      </div>
    </div>
  </div>

  {% endblock %}
</div>
