{% extends 'base.html' %} {% block content %}
<style>
  .HomePage {
    background-color: orange;
  }
</style>
<div class="HomePage">
  <h1>Documents Managment Project (DMP) - Bootstrap Web Client</h1>
  <h1>Home Page </h1>
  <h3 style="center">Welcome Home</h3>
  <div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
      <div class="col md-5 p-3">
        {% if user.is_authenticated%}
        <p>Welcome, {{user.username}}</p>
        <br/>
        <br/>
        <a href="{% url "account_logout" %}">Logout via allauth account_logout URL</a>
        <br/>
        <br/>
        <a href="{% url "open-account-form-page"  %}">Open Account Form Page</a>
        <br/>
        <br/>
        <a href="{% url "close-account-form-page"  %}">Close Account Form Page</a>
        <br/>
        <br/>
        {%else%}
        <br/>
        <p><button type="button" class="btn btn-info">Please <a href="{% url "account_login" %}">Login via allauth account_login URL (Login Page)</a></button></p>
        <br/>
        <p> <button type="button" class="btn btn-info"> <a href="{% url "account_signup" %}">Signup via allauth account_signup URL (Create an Account Page)</a> </button></p>
          <br/>
          <p><button type="button" class="btn btn-info"> <a href="{% url "account_reset_password" %}">Forgot password via allauth account_reset_password URL (Password Reset) Forgot Your Password?</a></button></p>
        {%endif%}
      </div>
    </div>
  </div>

  {% endblock %}
</div>
