{% extends 'base.html' %} {% block content %}

<style>
  .openAccountPage {
    background-color: LightPink;
  }
</style>
<div class="openAccountPage">
  <h1>Open Account Page</h1>
  <h1>Telecommunications Application Form</h1>

  <h2>{{ note }}</h2>

  {% if created_telecommunications_pk %}
  <a href="{% url 'edit-open-account-form-page' created_telecommunications_pk  %}">
    Edit Open Account Form
  </a>
  {% endif %}
  <form
    enctype="multipart/form-data"
    action="{% url 'open-account-form-page' %}"
    method="post"
  >
    {% csrf_token %} {{ telecommunicationsform }}
    <input type="submit" value="Open New Telecommunications Account" />
  </form>
  <br />
  <br />
  <br />
</div>

{% endblock %}
